# @Author Alex N. Habermann
# the config file for AutoMinecraft (unimplemented)

# cron stuff
day_bac = true
bactime = 0500

day_res = true
restime = 1200

hor_msg = true
hourmsg = Thank your server admin for using AutoMinecraft

#Backup stuff
backup_folder = ~/Minecraft/backups

#minecraft stuff
minedir = ~/Minecraft/minecraft_server
jarfile = minecraft_server.jar
min_mem = 512M
max_mem = 1024M

thank_author = true
